.diri{

    background-color: rgb(177, 175, 175);
    margin-top: -10px;
    border-left: 10px solid rgb(177, 175, 175);
    border-top :10px solid rgb(177, 175, 175);
    border-right: 10px solid rgb(177, 175, 175);
    border-bottom: 10px solid rgb(177, 175, 175);
}

.Asal{

    background-color: rgb(177, 175, 175);
    margin-top: -10px;
    border-left: 10px solid rgb(177, 175, 175);
    border-top :10px solid rgb(177, 175, 175);
    border-right: 10px solid rgb(177, 175, 175);
    border-bottom: 10px solid rgb(177, 175, 175);
}

.pendidikan{

    background-color: rgb(177, 175, 175);
    margin-top: -10px;
    border-left: 10px solid rgb(177, 175, 175);
    border-top :10px solid rgb(177, 175, 175);
    border-right: 10px solid rgb(177, 175, 175);
    border-bottom: 10px solid rgb(177, 175, 175);
}